body{
    padding-bottom:12em;
}
.nav-bg{
    background-color:darkorange ;
}
.nav-text{
    font-weight: bolder;
    font-size: 22px;
}
.background-top{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,139,45,0.8155637254901961) 41%, rgba(255,106,0,1) 76%, rgba(214,52,15,1) 100%) no-repeat top;
    height: 35em;
    display:block;
}
.pattern{
    background-image: url("/assets/images/background-pattern/pattern.jpg");
    background-repeat: repeat;
}
.info-cards{
    padding-left: 69px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 49px;
}
.foot-bg{
    padding-top: 25px;
    margin-top: 25px;
    position:  static;
    bottom:0;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(253,139,45,0.8155637254901961) 41%, rgba(255,106,0,1) 76%, rgba(214,52,15,1) 100%);
    height: 12em;
    background-repeat: no-repeat;
    display:block;
}
.color-max-width{
    max-width: 100%;
    background-color: transparent;
}
.align-center{
    padding-left: 150px;
    padding-top: 20px;
}
.left-footer{
    font-weight: bolder;
    font-size: 20px;
    color: white;
}
.right-footer{
    font-size: 20px;
    color: white;
    font-weight: bolder;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.blog-post {
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    height: 30em;
    background: white;
}
.blog-post .blog-img .overlay,
.blog-post .blog-img .post-meta {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.blog-post .blog-img .overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.blog-post .blog-img .post-meta {
    bottom: 5%;
    right: 5%;
    z-index: 1;
}

.blog-post .blog-img .post-meta .read-more:hover {
    color: #6dc77a !important;
}

.blog-post .content h1, .blog-post .content h2, .blog-post .content h3, .blog-post .content h4, .blog-post .content h5, .blog-post .content h6 {
    line-height: 1.2;
}

.blog-post .content .title {
    font-size: 18px;
}

.blog-post .content .title:hover {
    color: #6dc77a !important;
}

.blog-post .content .author .name:hover {
    color: #6dc77a !important;
}

.blog-post:hover {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.blog-post:hover .blog-img .overlay {
    opacity: 0.65;
}

.blog-post:hover .blog-img .post-meta {
    opacity: 1;
}

.blog-post .post-meta .like i,
.profile-post .like i {
    -webkit-text-stroke: 2px #dd2427;
    -webkit-text-fill-color: transparent;
}

.blog-post .post-meta .like:active i, .blog-post .post-meta .like:focus i,
.profile-post .like:active i,
.profile-post .like:focus i {
    -webkit-text-stroke: 0px #dd2427;
    -webkit-text-fill-color: #dd2427;
}

.avatar.avatar-ex-sm {
    height: 36px;
}
.shadow {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
}

.text-muted {
    color: #8492a6 !important;
}


.para-desc {
    max-width: 600px;
}
.text-muted {
    color: #8492a6 !important;
}

.section-title .title {
    padding-top: 35px;
    letter-spacing: 0.5px;
    font-size: 30px;
}
.news-btn{
    margin-left: 20px;
    bottom: 1px;
    right: 1px;
}
.card-index{
    width: 18rem;
    height: 25em;
}
.lib_table{
    background: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.lib_table td, th {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.about-us ul{
    margin:0;
    padding:0;
    list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{
    border:1px solid #999999;
    text-align:center;
    margin-bottom:28px;
    padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{
    color:#3c3c3c;
    font-size:24px;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}
.practice-area .inner p{
    font-size:14px;
    line-height:22px;
    font-weight:400;
}
.practice-area .inner img{
    display:inline-block;
}
.our-webcoderskull .cnt-block{
    float:left;
    width:100%;
    background:#fff;
    padding:30px 20px;
    text-align:center;
    border:2px solid #d5d5d5;
    margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
    width:148px;
    height:148px;
    border-radius:100%;
    display:inline-block;
    margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{
    width:148px;
    height:148px;
    border-radius:100%;
}
.our-webcoderskull .cnt-block h3{
    color:#2a2a2a;
    font-size:20px;
    font-weight:500;
    padding:6px 0;
    text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
    text-decoration:none;
    color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
    color:#337ab7;
}
.our-webcoderskull .cnt-block p{
    color:#2a2a2a;
    font-size:13px;
    line-height:20px;
    font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
    margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{
    display:inline-block;
    width:auto;
    margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{
    font-size:24px;
    color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{
    color:#025a8e;
}
.carousel-width{
    width: 1066px;
    padding-left: 72px;
}
.profile-card{
    padding: 20px;
    margin: 15px;
    width: 70em;
    height: 42em;
}